events {
    worker_connections  1024;
}

http {

  index index.html;

  server {
    listen 80;
    server_name  127.0.0.1 live;
    access_log /Users/yoda/lang/ruby/ns-stats/log/nginx_access.log;
    root /Users/yoda/lang/ruby/ns-stats/public/;
    error_log /Users/yoda/lang/ruby/ns-stats/log/nginx_error.log;

    location / {
        proxy_pass http://ns_stats;
    }
  }

  upstream ns_stats {
    server 127.0.0.1:3000;
  }

}
