upstream ns_stats {
  server 127.0.0.1:8000;
}

server {
  listen 80;
  server_name  127.0.0.1 live;
  access_log /home/ns_stats/www/ns_stats/current/log/nginx_access.log;
  root /home/ns_stats/www/ns_stats/current/public/;
  error_log /home/ns_stats/www/ns_stats/current/log/nginx_error.log;

  location / {
      proxy_pass http://ns_stats;
  }
}
